Repository itskyedo/woff2-encoder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,jsonc,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}": ["eslint"]
}

fix: update license header and readme
  README.md
  bindings/woff2_compress.cc
  bindings/woff2_decompress.cc
Due: prettier --write

fix: update license header and readme (#2)
  README.md
  bindings/woff2_compress.cc
  bindings/woff2_decompress.cc
Due: prettier --write

chore: add recommended jsdoc rules to eslint
  .eslintrc.yml
Due: prettier --write

chore: add recommended jsdoc rules to eslint (#4)
  .eslintrc.yml
Due: prettier --write

chore: update target environment to include dom
  tsconfig.json
Due: prettier --write

chore: update target environment to include dom (#5)
  tsconfig.json
Due: prettier --write

fix: load module on onRuntimeInitialized event
  bindings/bindings.d.ts
  build/woff2-wasm.d.ts
  src/index.ts
Due: prettier --write, eslint

fix: load module on onRuntimeInitialized event (#6)
  bindings/bindings.d.ts
  build/woff2-wasm.d.ts
  src/index.ts
Due: prettier --write, eslint

chore: update jsdoc eslint rule
  .eslintrc.yml
Due: prettier --write

chore: bump vitest from 0.34.6 to 1.1.0
  package-lock.json
  package.json
Due: prettier --write

Update vitest and add jsdoc eslint rule (#8)
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump vite from 5.0.10 to 5.0.12
  package-lock.json
Due: prettier --write

chore(deps-dev): bump vite from 5.0.10 to 5.0.12 (#10)
  package-lock.json
Due: prettier --write

chore: remove deprecated code from husky scripts
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: remove deprecated code from husky scripts (#13)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update prepare script to not use deprecated husky command
  package.json
Due: prettier --write

chore: update prepare script to not use deprecated husky command (#14)
  package.json
Due: prettier --write

refactor: fix internal types
  src/index.ts
Due: prettier --write, eslint

docs: change example fetch file casing
  README.md
Due: prettier --write

feat: change error message punctuation
  src/index.ts
Due: prettier --write, eslint

chore: fix eslint ecmaVersion
  .eslintrc.yml
Due: prettier --write

feat: create separate decompress wasm function
  Makefile
  README.md
  bindings/decompress-bindings.d.ts
  build/woff2-decompress-wasm.d.ts
  build/woff2-decompress-wasm.js
  package.json
  src/decompress.ts
  tests/index.test.ts
Due: prettier --write, eslint

feat: create separate decompress wasm function (#16)
  .eslintrc.yml
  Makefile
  README.md
  bindings/decompress-bindings.d.ts
  build/woff2-decompress-wasm.d.ts
  build/woff2-decompress-wasm.js
  package.json
  src/decompress.ts
  tests/index.test.ts
Due: prettier --write, eslint

chore: update author
  LICENSE
  package.json
Due: prettier --write

chore: update author (#25)
  LICENSE
  package.json
Due: prettier --write

feat!: require node >= 18.x
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat!: require node >= 18.x (#27)
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump vitest and @vitest/coverage-v8
  package-lock.json
  package.json
Due: prettier --write

chore: create vitest config file
  package.json
  vitest.config.ts
Due: prettier --write, eslint

Bump vitest and @vitest/coverage-v8 from 1.1.0 to 3.0.5 (#30)
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write, eslint

chore(deps-dev): bump vitest and @vitest/coverage-v8 from 3.0.5 to 3.0.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump vitest and @vitest/coverage-v8 from 3.0.5 to 3.0.7 (#31)
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump brace-expansion to resolve cve-2025-5889
  package-lock.json
Due: prettier --write

chore(deps): bump brace-expansion to resolve cve-2025-5889 (#39)
  package-lock.json
Due: prettier --write

chore: remove release-please
  .github/release-please.yml
  .github/workflows/publish.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write
